---
import { Image } from "astro:assets";

import NavLink from "@/components/navigation/nav-link.astro";
import { getImageImport } from "@/lib/get-image-import";

interface Props {
	image?: string | null;
	summary: string;
	link: {
		label: string;
		href: string;
	};
	title: string;
}

const { image, summary, link, title } = Astro.props;
---

<article class="rounded-b-md border border-t-[5px] border-[#0000001a] border-t-brand bg-white">
	{
		image != null ? (
			<NavLink aria-label={link.label} class="relative block aspect-[1.5]" href={link.href}>
				{/* @ts-expect-error Upstream type issue. */}
				<Image
					alt=""
					class="absolute inset-0 size-full object-cover"
					sizes="670px"
					src={getImageImport(image)}
					widths={[670]}
				/>
			</NavLink>
		) : null
	}
	<div class="grid gap-y-3 border-t border-[#00000026] p-6">
		<header>
			<h3 class="text-xl font-medium text-[#444]">
				<a class="hover:underline" href={link.href}>
					{title}
				</a>
			</h3>
		</header>
		<p class="text-md text-[#6f757c]">{summary}</p>
		<footer class="mt-1 flex justify-end gap-x-4">
			<NavLink
				class="inline-flex rounded-md border border-[#0000001a] px-3 py-1 text-[#212529] transition hover:bg-[#212529] hover:text-white"
				href={link.href}
			>
				{link.label}
			</NavLink>
		</footer>
	</div>
</article>
